<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "NAOYAの部屋", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/' %></li>
        <li><%= link_to "my car",   '#' %></li>
        <li><%= link_to "Healthcare",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
