<!DOCTYPE html>
<html lang='ja'>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="趣味を楽しむサイト">
	<meta name="viewport" content="width=device-width">
  <title><%= yield(:title) %> | Naoya's hobbies</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>

</head>

<body id="top">
  <div id="wrapper">
    <%= render 'layouts/header' %>
		<div id="content">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
